# Node
node_modules/
dist/
.npm/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Docker
.docker/

# Database
postgres_data/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
logs/

# MLflow
mlruns/

data/postgres/

data/ollama/
